@import 'helpers.scss';



*,
*:before,
*:after {
    box-sizing: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a,
button {
  cursor: pointer;
  outline: none;
  box-shadow: none;
  border: 1px solid transparent;
  background-color: transparent;
}

html,
body {
  height: 100%;
}

html {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.main-bg {
  height: 100%;
  background: rgb(110,235,236);
  background: linear-gradient(0deg, rgba(79,210,220,1) 0%, rgba(0,172,217,1) 100%);
}
